@model AutoOglasi.Web.ViewModels.Posts.PostFormInputModel

@{
    this.ViewData["Title"] = "Sell car";
    var extraTypes = new Dictionary<int, string>();
}

<form method="post" class="container mt-3" enctype="multipart/form-data">

    @* Make *@
    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="@Model.Car.Make" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.Make" class="form-control form-control-sm" placeholder="Mercedes, BMW, Honda, etc...">
            <span asp-validation-for="@Model.Car.Make" class="text-danger col-form-label-sm"></span>
        </div>

        @* Model *@
        <div class="col-md-6">
            <label asp-for="@Model.Car.Model" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.Model" class="form-control form-control-sm" placeholder="S-Class, 640D, Accord, etc...">
            <span asp-validation-for="@Model.Car.Model" class="text-danger col-form-label-sm"></span>
        </div>
    </div>


    @* Category *@
    <div class="row mb-2">
        <div class="col-md-4">
            <label asp-for="@Model.Car.CategoryId" class="form-label col-form-label-sm mt-1 m-0"></label>
            <select asp-for="@Model.Car.CategoryId" class="form-select form-select-sm">
                <option disabled selected>Choose category</option>
                @foreach (var category in Model.Car.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.Car.CategoryId" class="small text-danger col-form-label-sm"></span>
        </div>

        @* FuelTypeId *@
        <div class="col-md-4">
            <label asp-for="@Model.Car.FuelTypeId" class="form-label col-form-label-sm mt-1 m-0"></label>
            <select asp-for="@Model.Car.FuelTypeId" class="form-select form-select-sm">
                <option disabled selected>Choose fuel type</option>
                @foreach (var fuelType in Model.Car.FuelTypes)
                {
                    <option value="@fuelType.Id">@fuelType.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.Car.FuelTypeId" class="small text-dange col-form-label-sm"></span>
        </div>

        @* Transmission *@
        <div class="col-md-4">
            <label asp-for="@Model.Car.TransmissionTypeId" class="form-label col-form-label-sm mt-1 m-0"></label>
            <select asp-for="@Model.Car.TransmissionTypeId" class="form-select form-select-sm ">
                <option disabled selected>Choose transmission type</option>
                @foreach (var transmissionType in Model.Car.TransmissionTypes)
                {
                    <option value="@transmissionType.Id">@transmissionType.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.Car.TransmissionTypeId" class="small text-danger col-form-label-sm"></span>
        </div>
    </div>

    <div class="row mb-1">

    @* Years *@
        <div class="col-md-4 mb-1">
            <label asp-for="@Model.Car.Year" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.Year" min="0" class="form-control form-control-sm">
            <span asp-validation-for="@Model.Car.Year" class="text-danger col-form-label-sm"></span>
        </div>

        @* Kilometers *@
        <div class="col-md-4 mb-1">
            <label asp-for="@Model.Car.Kilometers" class="form-label col-form-label-sm mt-1 m-0">Kilometers</label>
            <input asp-for="@Model.Car.Kilometers" min="0" class="form-control form-control-sm">
            <span asp-validation-for="@Model.Car.Kilometers" class="text-danger col-form-label-sm"></span>
        </div>

        @* Horsepower *@
        <div class="col-md-4 mb-1">
            <label asp-for="@Model.Car.Horsepower" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.Horsepower" min="0" class="form-control form-control-sm">
            <span asp-validation-for="@Model.Car.Horsepower" class="text-danger col-form-label-sm"></span>
        </div>
    </div>



    @* Price *@
    <div class="row">
        <div class="col-md-4">
            <label asp-for="@Model.Car.Price" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.Price" min="0" class="form-control form-control-sm">
            <span asp-validation-for="@Model.Car.Price" class="text-danger col-form-label-sm"></span>
        </div>

        @* Images *@
        <div class="col-md-8">
            <label asp-for="@Model.Car.Images" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.Images" class="form-control form-control-sm" />
            <span asp-validation-for="@Model.Car.Images" class="text-danger col-form-label-sm"></span>
            <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
        </div>
    </div>


    @* LocationCountry *@
    <div class="row mb-1">
        <div class="col-md-6">
            <label asp-for="@Model.Car.LocationCountry" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.Car.LocationCountry" class="form-control form-control-sm">
            <span asp-validation-for="@Model.Car.LocationCountry" class="text-danger col-form-label-sm"></span>
        </div>

        @* LocationCity *@
        <div class="col-md-6 mb-1">
            <label asp-for="@Model.Car.LocationCity" class="form-label col-form-label-sm mt-1 mt-1 m-0"></label>
            <input asp-for="@Model.Car.LocationCity" class="form-control form-control-sm">
            <span asp-validation-for="@Model.Car.LocationCity" class="text-danger col-form-label-sm"></span>
        </div>
    </div>






    @* Description *@
    <div class="mb-2">
        <label asp-for="@Model.Car.Description" class="form-label col-form-label-sm mt-1 m-0"></label>
        <textarea asp-for="@Model.Car.Description" class="form-control form-control-sm" rows="2" placeholder="This is the perfect car..."></textarea>
        <span asp-validation-for="@Model.Car.Description" class="text-danger col-form-label-sm"></span>
    </div>


     <hr class="border-info"/>
    @* Contact information *@
    <h6 class="mb-1 text-center">Contact information:</h6>

    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="@Model.SellerName" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.SellerName" class="form-control form-control-sm">
            <span asp-validation-for="@Model.SellerName" class="text-danger col-form-label-sm"></span>
        </div>

        @* SellerPhoneNumber *@
        <div class="col-md-6">
            <label asp-for="@Model.SellerPhoneNumber" class="form-label col-form-label-sm mt-1 m-0"></label>
            <input asp-for="@Model.SellerPhoneNumber" class="form-control form-control-sm">
            <span asp-validation-for="@Model.SellerPhoneNumber" class="text-danger col-form-label-sm"></span>
        </div>
    </div>


    <hr class="border-info" />
    <div align="center"><input type="submit" class="btn btn-outline-info col-12 shadow-info" value="Create" /></div>
</form>