
@model AutoOglasi.Web.ViewModels.Posts.LatestPostsViewModel

@{ 
    ViewData["Title"] = "Latest"; 
} 

@if (!Model.LatestPosts.Any())
{
    <div class="text-center">
        <p class="lead">Unfortunately, there are no car for selling !!!</p>
        <p class="lead">
            <a asp-controller="Posts" asp-action="Create" class="btn btn-outline-info" role="button">Add a car</a>
        </p>
    </div>
}


 <!-- Latest post.CoverImage -->
<div id="carouselExampleFade" class="carousel-fade" data-bs-ride="carousel">
    <div class="object-fit-contain p-2">
        <div class="carousel-inner">
            @foreach (var image in Model.LatestPosts.ToList())
            {
                <div class="carousel-item active rounded-3 shadow-sm">
                    <img src="@image.Car.CoverImage"
                         class="d-block w-100"
                         style="height: 400px; object-fit: cover;"
                         alt="@($"{image.Car.Make} {image.Car.Model}")" />
                </div>
            }
        </div>           
    </div>
 </div>


<!-- Cards -->
<div class="row justify-content-center g-3">

    @foreach (var post in Model.LatestPosts)
    {

        <div class="col-md-4 col-lg-3">

            <div class="card h-100 shadow-info-lg border-0 rounded-3">

                <a asp-controller="Posts" asp-action="Offer" asp-route-id="@post.Id" class="text-decoration-none text-dark">
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <small class="text-muted">@post.PublishedOn</small>

                        <span class="badge bg-warning text-dark fw-bold">
                            € @post.Car.Price.ToString("N0", CultureInfo.InvariantCulture)
                        </span>
                    </div>

                    <img src="@post.Car.CoverImage"
                         class="card-img-top rounded-0"
                         style="height: 180px; object-fit: cover;"
                         alt="@($"{post.Car.Make} {post.Car.Model}")" />

                    <div class="card-footer text-center">
                        <h5 class="card-title fw-bold text-muted">@post.Car.Make @post.Car.Model</h5>
                    </div>
                </a>
            </div>
        </div>
    }
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                lazyLoad: true,
                loop: true,
            });
        });

        $(document).ready(function () {
            $('#statistics-button').click(function () {

                if ($('#statistics').is(":hidden")) {
                    $(this.innerHTML = 'Hide site statistics');

                    $.get('/api/statistics', (data) => {
                        $('#total-users').text(data.totalUsers + " Users");
                        $('#total-posts').text(data.totalPosts + " Cars");
                        $('#total-categories').text(data.totalCategories + " Categories");
                    });

                    $('#statistics').removeClass('d-none');
                } else {
                    $('#statistics').addClass('d-none');
                    $(this.innerHTML = '<span><i class="bi bi-graph-up gy-3"></i> </span> Show site statistics</button>');                    
                }
            });
        });

    </script>
}
